{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
  <div class="large-8 large-push-2 columns">
    <div class="coast">
      <div class="row">
        <div class="large-12 columns">
          <div class="north">
            <div class="hero">
              <img class="hero-background" src="{{ asset('img/i-like-turtles.jpg') }}">
              <h1 class="hero-title">
                <a style="color: white;" href="{{ path('homepage') }}">Orda!</a>
              </h1>
            </div>
          </div>
        </div>
        <div class="large-12 columns">
          <div class="south">
            <div class="town">
              {% block content %}{% endblock content %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
